---
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Client Setup">
    <main class="guide">
        <h1 class="guide__title">Client Setup Guide</h1>

        <div class="above">
            <h2>Contents</h2>
            <div class="contents">
                <a href="/guide/client/windows">Windows</a>
                <a href="/guide/client/manual">Manual</a>
            </div>
        </div>

        <p class="guide__text">
            Please choose your setup method below. If you are not using Windows
            you must use the <b>Manual</b> method
        </p>

        <div class="actions">
            <a class="action" href="/guide/client/windows">
                <h3>Automatic</h3>
                <p>Automatic setup only available for Windows</p>
            </a>
            <a class="action" href="/guide/client/manual">
                <h3>Manual</h3>
                <p>Manually setup your game to work with Pocket Relay</p>
            </a>
        </div>
    </main>
</GuideLayout>

<style></style>
