---
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Client Setup">
    <main class="guide">
        <h1 class="guide__title">Client Setup Guide</h1>

        <div class="above">
            <h2>Contents</h2>
            <a href="/guide/client/windows">Windows</a>
            <a href="/guide/client/manual">Manual</a>
        </div>
    </main>
</GuideLayout>

<style></style>
