---
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Client Setup">
    <main>
        <h1>Client Setup Guide</h1>

        <div>
            <h2>Contents</h2>
            <a href="/guide/client/windows">Windows</a>
            <a href="/guide/client/manual">Manual</a>
        </div>
    </main>
</GuideLayout>

<style></style>
