---
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Windows Client Setup">
    <main class="guide">
        <h1 class="guide__title">Manual</h1>
        <p class="guide__text">
            This section is for manually setting up your Mass Effect 3 client
            and computer to work with Pocket Relay servers this tutorial is for
            both Windows and Linux
        </p>

        <div class="guide__block">
            <h2 class="guide__step">1) Add host file entry</h2>
            <p class="guide__text">
                First you must add a entry to the system hosts file in order to
                send the traffic that would normally go to the Official servers
                to the Pocket Relay server address
            </p>

            <div class="above">
                <h4 class="platform__title">
                    <img
                        src="/windows.svg"
                        alt="Windows"
                        class="platform__title__icon"
                    />
                    Windows
                </h4>
                <p class="guide__text">
                    Open Notepad as a Administrator and open the following file
                </p>

                <p class="code">C:/Windows/System32/drivers/etc/hosts</p>
            </div>

            <div class="above">
                <h4 class="platform__title">
                    <img
                        src="/linux.svg"
                        alt="Linux"
                        class="platform__title__icon"
                    />

                    Linux
                </h4>

                <p class="guide__text">
                    Or If you are using linux. Use your desired text editor with
                    sudo to modify the following file instead
                </p>

                <p class="code">/etc/hosts</p>
            </div>

            <p>Add the following line to the bottom of the hosts file</p>

            <pre
                class="code"><code>SERVER_IP_ADDRESS gosredirector.ea.com</code></pre>

            <p class="guide__text">
                But replace `SERVER_IP_ADDRESS` with the IP address of the
                Pocket Relay server you want to connect to
            </p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">2) Patch Game</h2>
            <p class="guide__text">
                Download the zip file from
                <a class="guide__link" href="/downloads/blinkw32.zip">Here</a>
                and extract both the <span>binkw32.dll</span> and
                <span>binkw23.dll</span> into the same folder as MassEffect3.exe
                replacing any existing files
            </p>
        </div>
    </main>
</GuideLayout>

<style></style>
