---
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Windows Client Setup">
    <main class="guide">
        <h1 class="guide__title">Windows</h1>
        <p class="guide__text">
            This section is for if you are using Windows and would like to use
            the Client tool to automatically setup your game to work with Pocket
            Relay
        </p>

        <div class="guide__block">
            <h2 class="guide__step">1) Download Client</h2>
            <p class="guide__text">
                You can download the latest client release from the link below.
                The client is portable and doesn't require any installation,
                simply download it and run it.
            </p>

            <div class="download">
                <p class="download__platform">
                    <img
                        src="/windows.svg"
                        alt="Windows"
                        class="download__platform__icon"
                    />
                    Windows
                </p>
                <a
                    class="download__link"
                    href="https://github.com/PocketRelay/Client/releases/latest/download/pocket-relay-client.exe"
                >
                    Download</a
                >
            </div>

            <p class="guide__text">
                Keep it somewhere you remember as you will need to use this tool
                to switch back to the official servers and to revert changes if
                you want to uninstall
            </p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">2) Run Client</h2>
            <p class="guide__text">
                Next open the executable by Double Clicking it or Right Click +
                Run As Administrator
            </p>

            <p class="guide__text">
                📌 Make sure you run the application as administrator. This
                should be the default automatically but if not make sure you run
                it as admin otherwise the application will not be able to update
                the files on its own
            </p>

            <div class="guide__block--img">
                <p class="guide__text">
                    After the application starts up you will see the following
                    screen or something similar to this (It may look slightly
                    different in the future)
                </p>

                <img src="/guide/client-home.jpg" alt="Client home screen" />
            </div>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">3) Patch Game</h2>

            <div class="guide__block--img">
                <p class="guide__text">
                    First you will need to patch your game to do this press the
                    "Patch Game" button and the following file picker window
                    will appear
                </p>
                <img src="/guide/client-patch.jpg" alt="Client patch window" />
            </div>

            <div class="guide__block--img">
                <p class="guide__text">
                    In this window naviagte to your Mass Effect 3 executable
                    this will be in the game folder then
                    <span>Binaries/Win32/MassEffect3.exe</span>. Select the
                    executable file and press the "Open" button then if
                    everything worked you will see the following screen back in
                    the client
                </p>
                <img
                    src="/guide/client-patched.jpg"
                    alt="Client patch window"
                />
            </div>

            <p class="guide__text">Press "Ok" to go back to the home screen</p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">4) Connection URL</h2>
            <p class="guide__text">
                The server hoster will know this connection URL ask them to
                provide you with this. If you are the server hoster refer to
                <a class="guide__link" href="/guide/server#url"
                    >4) Connection URL</a
                > in the server guide.
            </p>

            <p class="guide__text">
                Enter this value into the text field named "Connection URL" then
                press the "Set" button
            </p>

            <p class="guide__text">
                Note: The server must be running when you press set otherwise
                the client will be unable to detect the server
            </p>

            <div class="guide__block">
                <p class="guide__text">
                    If the client was able to successfully connect to the server
                    you will get the following message.
                </p>
                <img src="/guide/client-set.jpg" alt="Client set window" />
            </div>

            <p>Press "Ok" to return to the home screen</p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">5) All Done</h2>
            <div>
                <p class="guide__text">
                    Your game will now be able to connect to the Pocket Relay
                    server that you've setup. When you first open the game. The
                    client screen should now look like the following
                </p>

                <img src="/guide/client-home-set.jpg" alt="Client set window" />
            </div>

            <p class="guide__text">
                Note: If the server IP address changes or you wish to connect to
                a different server you will need to change it and press "Set"
                again to update the connection
            </p>

            <p class="guide__text">
                If you were already logged into the Official servers and are
                using a Cracked game client you will get a message saying
                connection failed simply press okay and then the multiplayer
                button again and you will be taken to a login prompt where you
                can create a new account
            </p>

            <p class="guide__text">
                You can now close this client application as you do not need to
                keep it running
            </p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">6) Offical Servers</h2>
            <p class="guide__text">
                If you would like to switch back to the official servers while
                still keeping the patch you can do so by only pressing "Remove"
                to remove the Pocket Relay server connection and if you restart
                your game you will connect back to the Official servers
            </p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">7) Uninstalling</h2>
            <p class="guide__text">
                To uninstall Pocket relay open the client and select "Remove" to
                remove the redirect then "Remove Patch" to remove the Patch from
                the game.
            </p>
            <p class="guide__text">
                If you've followed the automatic install guide you do not need
                to continue reading you are finished.
            </p>
        </div>
    </main>
</GuideLayout>

<style></style>
