---
import GuidePage from "@layouts/GuidePage.astro";
import GuideSidebar from "../../components/GuideSideBar.astro";
import { CollectionEntry, Render, getCollection } from "astro:content";
import GuidePageNav from "@components/GuidePageNav.astro";

export async function getStaticPaths() {
  const collection = await getCollection("guide");
  return collection.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"guide">;
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<GuidePage>
  <div class="content">
    <GuideSidebar />
    <main class="main">
      <h1>{entry.data.title}</h1>
      <p>{entry.data.description}</p>
      <Content />
    </main>
    <GuidePageNav headings={headings} />
  </div>
</GuidePage>

<style>
  .content {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    height: 100vh;
  }

  .main {
    flex: auto;
    height: 100%;
    overflow-y: auto;
  }
</style>
