---
import ServerDownloads from "../../components/ServerDownloads.astro";
import GuideLayout from "../../layouts/GuideLayout.astro";
---

<GuideLayout title="Client Setup">
    <main>
        <h1>Client Setup Guide</h1>

        <div>
            <h2>Contents</h2>
            <a href="#windows">Windows</a>
            <a href="#manual">Manual</a>
        </div>

        <p>
            This is a setup guide for connecting to Pocket Relay servers using
            the client application or manually
        </p>

        <p>
            In order for your client to be able to connect to Pocket Relay
            servers we will need to modify somes files and add some files to our
            game directory.
        </p>

        <p>
            For Windows users all the changes can be done for you automatically
            using the client tool to use this tool see the
            <a href="#windows">Windows Section</a>. If you are not on Windows
            you will have to follow the manual installation guide <a
                href="#manual">Manual Section</a
            >
        </p>

        <div id="windows">
            <h2>Windows</h2>
            <p>
                This section is for if you are using Windows and would like to
                use the Client tool to automatically setup your game to work
                with Pocket Relay
            </p>

            <div>
                <h3>1) Download Client</h3>
                <p>
                    You can download the latest client release from the link
                    below. The client is portable and doesn't require any
                    installation, simply download it and run it.
                </p>

                <div class="download">
                    <p class="download__platform">
                        <img
                            src="/windows.svg"
                            alt="Windows"
                            class="download__platform__icon"
                        />
                        Windows
                    </p>
                    <a
                        class="download__link"
                        href="https://github.com/PocketRelay/Client/releases/latest/download/pocket-relay-client.exe"
                    >
                        Download</a
                    >
                </div>

                <p>
                    Keep it somewhere you remember as you will need to use this
                    tool to switch back to the official servers and to revert
                    changes if you want to uninstall
                </p>
            </div>

            <div>
                <h3>2) Run Client</h3>
                <p>
                    Next open the executable by Double Clicking it or Right
                    Click + Run As Administrator
                </p>

                <p>
                    📌 Make sure you run the application as administrator. This
                    should be the default automatically but if not make sure you
                    run it as admin otherwise the application will not be able
                    to update the files on its own
                </p>

                <div>
                    <p>
                        After the application starts up you will see the
                        following screen or something similar to this (It may
                        look slightly different in the future)
                    </p>

                    <img
                        src="/guide/client-home.png"
                        alt="Client home screen"
                    />
                </div>
            </div>

            <div>
                <h3>3) Patch Game</h3>

                <div>
                    <p>
                        First you will need to patch your game to do this press
                        the "Patch Game" button and the following file picker
                        window will appear
                    </p>
                    <img
                        src="/guide/client-patch.png"
                        alt="Client patch window"
                    />
                </div>

                <div>
                    <p>
                        In this window naviagte to your Mass Effect 3 executable
                        this will be in the game folder then
                        <span>Binaries/Win32/MassEffect3.exe</span>. Select the
                        executable file and press the "Open" button then if
                        everything worked you will see the following screen back
                        in the client
                    </p>
                    <img
                        src="/guide/client-patched.png"
                        alt="Client patch window"
                    />
                </div>

                <p>Press "Ok" to go back to the home screen</p>
            </div>

            <div>
                <h3>4) Connection URL</h3>
                <p>
                    The server hoster will know this connection URL ask them to
                    provide you with this. If you are the server hoster refer to
                    <a href="/guide/server#url">4) Connection URL</a> in the server
                    guide.
                </p>

                <p>
                    Enter this value into the text field named "Connection URL"
                    then press the "Set" button
                </p>

                <p>
                    Note: The server must be running when you press set
                    otherwise the client will be unable to detect the server
                </p>

                <div>
                    <p>
                        If the client was able to successfully connect to the
                        server you will get the following message.
                    </p>
                    <img src="/guide/client-set.png" alt="Client set window" />
                </div>

                <p>Press "Ok" to return to the home screen</p>
            </div>

            <div>
                <h3>5) All Done</h3>
                <div>
                    <p>
                        Your game will now be able to connect to the Pocket
                        Relay server that you've setup. When you first open the
                        game. The client screen should now look like the
                        following
                    </p>

                    <img
                        src="/guide/client-home-set.png"
                        alt="Client set window"
                    />
                </div>

                <p>
                    Note: If the server IP address changes or you wish to
                    connect to a different server you will need to change it and
                    press "Set" again to update the connection
                </p>

                <p>
                    If you were already logged into the Official servers and are
                    using a Cracked game client you will get a message saying
                    connection failed simply press okay and then the multiplayer
                    button again and you will be taken to a login prompt where
                    you can create a new account
                </p>

                <p>
                    You can now close this client application as you do not need
                    to keep it running
                </p>
            </div>

            <div>
                <h3>6) Offical Servers</h3>
                <p>
                    If you would like to switch back to the official servers
                    while still keeping the patch you can do so by only pressing
                    "Remove" to remove the Pocket Relay server connection and if
                    you restart your game you will connect back to the Official
                    servers
                </p>
            </div>

            <div>
                <h3>7) Uninstalling</h3>
                <p>
                    To uninstall Pocket relay open the client and select
                    "Remove" to remove the redirect then "Remove Patch" to
                    remove the Patch from the game.
                </p>
                <p>
                    If you've followed the automatic install guide you do not
                    need to continue reading you are finished.
                </p>
            </div>
        </div>

        <div id="manual">
            <h2>Manual</h2>
            <p>
                This section is for manually setting up your Mass Effect 3
                client and computer to work with Pocket Relay servers this
                tutorial is for both Windows and Linux
            </p>

            <div>
                <h3>1) Add host file entry</h3>
                <p>
                    First you must add a entry to the system hosts file in order
                    to send the traffic that would normally go to the Official
                    servers to the Pocket Relay server address
                </p>

                <div>
                    <h4>
                        <img
                            src="/windows.svg"
                            alt="Windows"
                            class="platform__icon"
                        />
                        Windows
                    </h4>

                    <p>
                        Open Notepad as a Administrator and open the following
                        file
                    </p>

                    <span>C:/Windows/System32/drivers/etc/hosts</span>
                </div>

                <div>
                    <h4>
                        <img
                            src="/linux.svg"
                            alt="Linux"
                            class="platform__icon"
                        />

                        Linux
                    </h4>
                    <p>
                        Or If you are using linux. Use your desired text editor
                        with sudo to modify the following file instead
                    </p>

                    <span>/etc/hosts</span>
                </div>

                <p>Add the following line to the bottom of the hosts file</p>

                <pre><code>SERVER_IP_ADDRESS gosredirector.ea.com</code></pre>

                <p>
                    But replace `SERVER_IP_ADDRESS` with the IP address of the
                    Pocket Relay server you want to connect to
                </p>
            </div>

            <div>
                <h3>2) Patch Game</h3>
                <p>
                    Download the zip file from
                    <a href="/downloads/blinkw32.zip">Here</a>
                    and extract both the <span>binkw32.dll</span> and
                    <span>binkw23.dll</span> into the same folder as MassEffect3.exe
                    replacing any existing files
                </p>
            </div>
        </div>
    </main>
</GuideLayout>

<style></style>
