---
import GuideLayout from "../../layouts/GuideLayout.astro";
---

<GuideLayout title="Home">
    <main>
        <h1>Configuration Guide</h1>
        <p>
            You can configure certain components and settings for the server
            using Environment Variables. These can either be set as system
            environment variables or stored in a <span>.env</span> file in the same
            directory or a parent directory to the Pocket Relay executable.
        </p>

        <p>
            The list of environment variables, their default values, and
            descriptions are listed below. There is also a default environment
            variables file named <span>.env.example</span> stored in the root of
            this repository.
        </p>

        <p>
            Any environment variables that you don't provide a value for or
            provide an invalid value for will automatically use the default
            values. In some cases the server startup will be cancelled for an
            invalid value (I.e. invalid database details)
        </p>

        <p>The types of environment variables are listed below</p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Examples</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TEXT</td>
                    <td>Hello world, test.com</td>
                    <td>Any normal UTF-8 encoded text</td>
                </tr>
                <tr>
                    <td>BOOLEAN</td>
                    <td>true, false</td>
                    <td>true or false values (Case sensitive)</td>
                </tr>
                <tr>
                    <td>PORT</td>
                    <td>80,3360,3210</td>
                    <td>Any number between 1 and 65536</td>
                </tr>
                <tr>
                    <td>DECIMAL</td>
                    <td>0.5, 1.0, 20</td>
                    <td>Any number with an optional decimal place</td>
                </tr>
            </tbody>
        </table>

        <div id="ports">
            <h2>Server Ports</h2>

            <p>
                This section contains the enviroment variables for configuring
                what ports each server will use.
            </p>

            <div id="ports1">
                <h3>Redirector Port</h3>

                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_REDIRECTOR_PORT</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>PORT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>42127</span>
                    </div>
                </div>

                <p>
                    <b>📌 WARNING 📌</b> This port should not be changed unless the
                    server is being run inside a Docker container or some other solution
                    where the port 42127 is being publicly connected to otherwise
                    the Mass Effect 3 client wont be able to connect
                </p>

                <p>
                    This is the port used by the <b>Redirector</b> server which is
                    what the Mass Effect 3 client uses to get the port and address
                    information for the Main server
                </p>
            </div>

            <div id="ports2">
                <h3>Main Port</h3>

                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_MAIN_PORT</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>PORT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>14219</span>
                    </div>
                </div>

                <p>
                    This is the port used by the <b>Main</b> server you can set this
                    port to any port you would like as its port is served through
                    the redirector. This server is responsible for handling the majority
                    of game logic
                </p>
            </div>

            <div id="ports3">
                <h3>HTTP Port</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_HTTP_PORT</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>PORT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>80</span>
                    </div>
                </div>

                <p>
                    This is the port of the <b>HTTP</b> server this is used for things
                    like Galaxy At War, Store Images, Banner Images, and the server
                    API. Using port 80 will make it easiest to use using port 80
                    means the clients wont need to specify the port in the connection
                    URL
                </p>
            </div>

            <div id="ports4">
                <h3>Telemetry Port</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_TELEMETRY_PORT</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>PORT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>9988</span>
                    </div>
                </div>

                <p>
                    This is the port of the <b>Telemetry</b> server this server is
                    not a required portion of the game but it log telemetry recieved
                    from the client if debug logging is enabled
                </p>
            </div>

            <div id="ports5">
                <h3>QoS Port</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_QOS_PORT</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>PORT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>17499</span>
                    </div>
                </div>

                <p>
                    This is the port of the <b>Quality of Service</b> server this
                    is used to obtain your public IP address so that other players
                    outside of your network can make a connection to you
                </p>
            </div>
        </div>

        <div id="dashboard">
            <h2>Dashboard</h2>
            <p>Configuration for the dashboard</p>

            <div>
                <h3>Super Admin</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_SUPER_ADMIN_EMAIL</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>TEXT</span>
                    </div>
                </div>

                <p>
                    In order to grant other users admin access and to have any
                    admin access on the dashboard you must set the email address
                    of a user to become the super user
                </p>

                <p>
                    Super user access will be granted whenever the server starts
                    up and checks if the access is missing and updates
                    accordingly
                </p>
            </div>
        </div>

        <div id="menu">
            <h2>Menu</h2>
            <p>This section contains configuration for the Main menu</p>
            <div>
                <h3>Menu Message</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_MENU_MESSAGE</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>TEXT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>
                            <pre><code>{"<font color='#B2B2B2'>Pocket Relay</font> - <font color='#FFFF66'>Logged as: {n}</font>"}</code></pre>
                        </span>
                    </div>
                </div>

                <p>
                    This is the message that is displayed in the scrolling text
                    on the Main Menu in the Mass Effect 3 client. You can use
                    the {'<font color="COLOR"> </font>'} to use hex color codes and
                    there are variables you can use to insert information about the
                    session
                </p>

                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Variable</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{"{v}"}</td>
                                <td>The server version number</td>
                            </tr>
                            <tr>
                                <td>{"{n}"}</td>
                                <td>The player name</td>
                            </tr>
                            <tr>
                                <td>{"{ip}"}</td>
                                <td>The IP address of the player</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="gaw">
            <h2>Galaxy At War</h2>
            <p>
                This section contains configuration for the Galaxy at War
                system.
            </p>
            <div id="gaw1">
                <h3>Daily Decay Amount</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_GAW_DAILY_DECAY</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>DECIMAL</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>0.0</span>
                    </div>
                </div>
                <p>
                    This value is the percentage decay that the Galaxy At War
                    values will gain for each day passed.
                </p>

                <p>0.5 = -1% each day passed</p>

                <p>
                    The value of zero means the Galaxy At War percentage will
                    not decay as days pass
                </p>
            </div>
            <div id="gaw2">
                <h3>Include Promotions</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_GAW_PROMOTIONS</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>BOOLEAN</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>true</span>
                    </div>
                </div>
                <p>
                    This variable determines whether player class promotions
                    will be included in the Galaxy At Rating. true means
                    promotions are included and false means they are not
                </p>
            </div>
        </div>
        <div id="logging">
            <h2>Logging</h2>
            <p>
                This section contains the configuration for the logging system.
                The server log file will be in the <span>data/logs</span> directory
                and is named <span>server.log</span>
            </p>
            <div id="loggin1">
                <h3>Logging Level</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_LOG_LEVEL</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>TEXT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>info</span>
                    </div>
                </div>
                <p>
                    This is the logging level that should be logged. The server
                    will only print logs that are equal to or above the current
                    log level. Below is a list of the different log levels in
                    order from lowest to highest.
                </p>

                <div>
                    <div>
                        <span>debug</span>
                        <span>Shows all logging including debug messages</span>
                    </div>
                    <div>
                        <span>info</span>
                        <span>
                            Shows informational logging, warning and error
                            logging
                        </span>
                    </div>
                    <div>
                        <span>warn</span>
                        <span>Only shows warning and error logs</span>
                    </div>
                    <div>
                        <span>error</span>
                        <span>Only shows error logs</span>
                    </div>
                    <div>
                        <span>off</span>
                        <span>Doesn't show any logs at all</span>
                    </div>
                </div>
            </div>
            <div id="logging2">
                <h3>Logging Directory</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_LOGGING_DIR</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>TEXT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>data/logs</span>
                    </div>
                </div>
                <p>
                    This is the path to the folder where server log files should
                    be stored.
                </p>
            </div>
        </div>
        <div id="retr">
            <h2>Retriever</h2>
            <p>
                This section contains the configuration for the retriever system
                which is used to retrieve information from the official game
                servers.
            </p>
            <div id="retr1">
                <h3>Enabled</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_RETRIEVER</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>BOOLEAN</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>true</span>
                    </div>
                </div>
                <p>
                    This variable determines whether the retriever system is
                    enabled or not. Setting this to false will make features
                    such as Origin authentication disabled.
                </p>
            </div>
            <div id="retr2">
                <h3>Origin Fetch</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_ORIGIN_FETCH</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>BOOLEAN</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>true</span>
                    </div>
                </div>
                <p>
                    This variable determines whether Origin accounts are able to
                    be authenticated. This authentication uses the retriever
                    system to authenticate on the official servers in order to
                    get the Origin account information. This requires the
                    retriever system to be enabled.
                </p>
            </div>
            <div id="retr3">
                <h3>Origin Fetch Data</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_ORIGIN_FETCH_DATA</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>BOOLEAN</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>true</span>
                    </div>
                </div>
                <p>
                    This variable determines whether all the associated player
                    data for Origin accounts should be copied over from the
                    official server when first logging into an Origin account.
                    Disable this if you don't want the players having their
                    existing player data from the official servers copied over.
                </p>
            </div>
        </div>
        <div id="db">
            <h2>Database</h2>
            <p>
                This section contains the configuration for the database
                depending on which server type you are using.
            </p>
            <div id="db1">
                <h3>SQLite Database</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_DATABASE_FILE</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>TEXT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>data/app.db</span>
                    </div>
                </div>
                <p>
                    If you are using the SQLite version (Default) of Pocket
                    Relay then this variable determines where the database file
                    is saved to. By default this is data/app.db relative to the
                    server executable.
                </p>
            </div>
            <div id="db2">
                <h3>MySQL Database</h3>
                <div>
                    <div>
                        <span>Key</span>
                        <span>PR_DATABASE_URL</span>
                    </div>

                    <div>
                        <span>Type</span>
                        <span>TEXT</span>
                    </div>

                    <div>
                        <span>Default</span>
                        <span>mysql://username:password@host/database</span>
                    </div>
                </div>
                <p>
                    If you are using the MySQL version of Pocket Relay then this
                    variable determines the connection url for the database.
                </p>
            </div>
        </div>
    </main>
</GuideLayout>

<style></style>
