---
import ServerDownloads from "../../components/ServerDownloads.astro";
import GuideLayout from "../../layouts/GuideLayout.astro";
---

<GuideLayout title="Server Setup">
    <main>
        <h1>Server Setup Guide</h1>

        <div>
            <h2>Contents</h2>
            <a href="#executable">Executable</a>
            <a href="#docker">Docker</a>
            <a href="#port">Port Forwarding</a>
        </div>

        <p>
            This is the setup guide for setting up a Pocket Relay server.
            Servers can run on dedicated hosting, within Docker, or on your own
            computer.
        </p>

        <p>
            If you are looking to configure the server such as changing
            different ports or other server data you can view the
            <a href="/guide/config">Configuration Guide</a>
        </p>

        <div id="exec">
            <h2>Executable</h2>
            <p>
                This section is for if you are running the server directly from
                an executable. You can find a section for running the server
                within a Docker container at the bottom of this page
            </p>

            <div>
                <h3>1) Download Executable</h3>
                <p>
                    Pre compiled binary downloads are available below. But if
                    you would like to compile from source manually see the

                    <a href="/guide/building">Building Guide</a>
                </p>

                <p>
                    You can view the latest releases of the server on github at
                    <a
                        href="https://github.com/PocketRelay/Server/releases/latest"
                    >
                        Here
                    </a> or you can use the download links below to directly download
                    the latest version for your platform
                </p>

                <ServerDownloads />
            </div>

            <div>
                <h3>2) Move to its own directory</h3>
                <p>
                    Move the binary file to its own directory in order to not
                    interfere with or overlap with other files and folders. All
                    the Pocket Relay data files will be stored in a "data"
                    folder alongside the executable.
                </p>
            </div>

            <div>
                <h3>3) Launching</h3>
                <p>
                    Now you can launch the server executable. The steps below
                    show the different ways of doing this for the different
                    platforms
                </p>
                <div>
                    <div>
                        <h4>
                            <img
                                src="/windows.svg"
                                alt="Windows"
                                class="platform__icon"
                            />
                            Windows
                        </h4>

                        <p>
                            If you are on windows you can do this either by
                            opening the executable normally with a Double Click
                            or Right Click + Open or through the terminal using
                        </p>

                        <pre><code>./pocket-relay.exe</code></pre>
                    </div>

                    <div>
                        <h4>
                            <img
                                src="/linux.svg"
                                alt="Linux"
                                class="platform__icon"
                            />

                            Linux
                        </h4>

                        <p>
                            If you are on linux you will first need to make the
                            executable "executable" you can do this with the
                            following command
                        </p>

                        <pre><code>chmod +x ./pocket-relay</code></pre>

                        <p>
                            Then you can start the server with the following
                            command
                        </p>

                        <pre><code>./pocket-relay</code></pre>

                        <p>
                            Note with the default configuration you will need to
                            run the <pre><code>./pocket-relay</code></pre> command
                            as <pre><code>sudo ./pocket-relay</code></pre> as the
                            default configuration uses port 80 for the HTTP server.
                            If you are already running an Apache HTTP server or another
                            app is using port 80 you will either need to change it
                            in the configuration file to another port such as 8080
                            or 3000 or stop the other apps
                        </p>
                    </div>
                </div>
            </div>

            <div id="url">
                <h3>4) Connection URL</h3>
                <p>
                    Now that your server is up and running the server will
                    output the connection urls into the log. You can find this
                    log in the terminal you are using to run the server or in
                    the log file at <span>data/logs/log.log</span> the possible connection
                    urls will be near the top of the log. You should see a message
                    like the one below
                </p>

                <pre><code>[2022-11-28T15:14:35.555306400+13:00 INFO pocket_relay] Connection URLS (LAN: 192.168.88.251, WAN: IP_REDACTED, LOCAL: 127.0.0.1)</code></pre>

                <p>
                    The connections URLs are filtered by the interface and
                    seperated with commas. Below is table showing which IP is
                    which corresponds to which usage
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LAN</td>
                            <td
                                >If you are running this server over a Local
                                Area Network and want someone to play with you
                                on the same Network then give them this address</td
                            >
                        </tr>
                        <tr>
                            <td>WAN</td>
                            <td
                                >If you are hosting this server publicly you can
                                give this IP to others across the Internet to
                                connect to you with (Note you must port forward
                                for this to work)</td
                            >
                        </tr>
                        <tr>
                            <td>LOCAL</td>
                            <td
                                >This is the address you will use if you are
                                connecting to a server running on your current
                                machine (You can also use localhost instead)</td
                            >
                        </tr>
                    </tbody>
                </table>

                <p>
                    If you would like to make your server available over
                    <b>WAN</b> you will need to Port Forward the ports listed in
                    <a href="#port">Port Forwarding</a>
                </p>
            </div>

            <div>
                <h3>5) Further Configuration</h3>
                <p>
                    If you would like to further configure your server changing
                    things such as the Menu Message you can check out the <a
                        href="/guide/config">Configuration Guide</a
                    >
                </p>
            </div>
        </div>

        <div id="docker">
            <h2>Docker</h2>

            <p>
                This section is for users looking to run the server within a
                Docker container. If you aren't using this check out the
                <a href="#exec">Executable Section</a>
            </p>

            <p>
                Optionally if you are using Docker you can use the following
                command to create a new Pocket Relay server from the docker
                image or configure a container in Docker Desktop for the
                <span>jacobtread/pocket-relay:latest</span> image
            </p>

            <pre><code>docker run -d -p 80:80/tcp -p 14219:14219/tcp -p 42127:42127/tcp -p 9988:9988/tcp -p 17499:17499/udp jacobtread/pocket-relay:latest</code></pre>

            <p>
                The <span>-p</span> arguments bind the ports for the servers running
                inside the image. The exposed port 42127 must always stay the same
                or else clients will be unable to connect to the server.
            </p>

            <p>
                See the <a href="/guide/config">Configuration Guide</a> for changing
                ports and other settings
            </p>
        </div>

        <div id="port">
            <h2>Port Forwarding</h2>
            <p>
                If you would like to make your server accessible from outside
                your local network you will need to port forward on your router
                the following are the ports that you will need to forward.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Protocol</th>
                        <th>Port</th>
                        <th>What</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TCP</td>
                        <td>42127</td>
                        <td>Redirector server</td>
                    </tr>
                    <tr>
                        <td>TCP</td>
                        <td>14219</td>
                        <td>Main server</td>
                    </tr>
                    <tr>
                        <td>TCP</td>
                        <td>80</td>
                        <td>HTTP server</td>
                    </tr>
                    <tr>
                        <td>TCP</td>
                        <td>9988</td>
                        <td>Telemetry server</td>
                    </tr>
                    <tr>
                        <td>UDP</td>
                        <td>17499</td>
                        <td>QoS server</td>
                    </tr>
                </tbody>
            </table>
            <p>
                If you have changed any of the ports in your configuration file
                then you will need to forward those changed ports instead
            </p>
        </div>
    </main>
</GuideLayout>

<style></style>
