---
import GuideLayout from "../../layouts/GuideLayout.astro";
---

<GuideLayout title="Home">
    <main>
        <h1>Create a server</h1>
        <p>
            This is a guide for both creating and connecting to
            <b>Pocket Relay</b> servers. Please choose one of the guide pages below
            for your desired guide.
        </p>

        <div>
            <h2>I want to</h2>
            <div>
                <a>
                    <h3>Create a server</h3>
                    <p>Guide for creating your own server</p>
                </a>
                <a>
                    <h3>Join a server</h3>
                    <p>Guide for joining an existing server</p>
                </a>
            </div>
        </div>
    </main>
</GuideLayout>

<style></style>
