---
import ServerDownloads from "../components/ServerDownloads.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Downloads">
    <main class="main">
        <div class="header">
            <img
                class="logo"
                src="/logo-new-nameless.svg"
                alt="Pocket Relay Logo"
            />
            <h1 class="title">Downloads</h1>
            <a href="/" class="button return">Return Home</a>
        </div>
        <ServerDownloads />
    </main>
</Layout>

<style>
    body {
        padding: 1rem 15%;

        background: linear-gradient(rgba(12, 12, 12, 0.9), rgb(24, 24, 24)),
            url("/heading.jpg") center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .main {
        max-width: 1200px;
        width: 100%;
        margin: 1rem auto;
    }

    .title {
        text-transform: uppercase;
        color: #fff;
        margin: 1rem 0;
    }

    .return {
        margin-bottom: 1rem;
    }
</style>
