---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<main>
		<div class="heading">
			<div class="heading__content">
				<img
					class="heading__logo"
					src="/logo-new-nameless.svg"
					alt="Pocket Relay Logo"
				/>
				<h1 class="heading__title">Pocket Relay</h1>
				<p class="heading__text">
					Mass Effect 3 Private Server Emulator
				</p>
			</div>
			<div class="links">
				<a href="/guide" class="button">Guide</a>
				<a href="/download" class="button">
					<svg
						class="button__icon"
						xmlns="http://www.w3.org/2000/svg"
						height="24"
						width="24"
						><path
							d="M12 14.65q-.3 0-.587-.113-.288-.112-.513-.337l-3.975-3.975q-.45-.45-.45-1.1 0-.65.45-1.1.45-.45 1.1-.45.65 0 1.1.45l1.3 1.3v-6.1q0-.65.463-1.113Q11.35 1.65 12 1.65q.65 0 1.113.462.462.463.462 1.113v6.1l1.3-1.3q.45-.45 1.1-.45.65 0 1.1.45.45.45.45 1.1 0 .65-.45 1.1L13.1 14.2q-.225.225-.512.337-.288.113-.588.113ZM5.5 21.6q-1.325 0-2.237-.912-.913-.913-.913-2.238V15.5q0-.65.462-1.113.463-.462 1.113-.462.65 0 1.112.462.463.463.463 1.113v2.95h12.95V15.5q0-.65.463-1.113.462-.462 1.112-.462.65 0 1.113.462.462.463.462 1.113v2.95q0 1.325-.912 2.238-.913.912-2.238.912Z"
						></path></svg
					>
					Download
				</a>
				<a
					href="https://github.com/PocketRelay"
					class="button"
					target="_blank"
					rel="noreferrer"
				>
					GitHub
				</a>
			</div>
		</div>
		<div class="block">
			<div class="block__content">
				<h2 class="block__title">What is Pocket Relay?</h2>
				<p class="block__text">
					<b>Pocket&nbsp;Relay</b> is a private server for the game
					<b>Mass&nbsp;Effect&nbsp;3</b>. This private server pretends
					to be all the different servers that the official game uses.
					This allows you to play the <b>Mass&nbsp;Effect&nbsp;3</b> Multiplayer
					privately, with your friends over LAN, or even play using a cracked
					unoffical copy of the game.
				</p>
			</div>
			<div class="block__img-wrapper">
				<img
					class="block__img"
					src="/pocketrelay.jpg"
					alt="Game players"
					loading="lazy"
				/>
			</div>
		</div>
	</main>
</Layout>

<style>
	.heading {
		display: flex;
		justify-content: center;
		flex-flow: column;
		align-items: center;
		text-align: center;
		padding: 1rem 15%;

		background: linear-gradient(rgba(12, 12, 12, 0.9), rgb(24, 24, 24)),
			url("/heading.jpg") center;
		background-size: cover;
		height: 100vh;
	}

	.block {
		justify-content: space-between;
		max-width: 1400px;
		display: flex;
		margin: 0 auto 15vh;
		gap: 1rem;
		align-items: center;
		padding: 5rem;
	}

	.block__title {
		margin-bottom: 1rem;
		font-size: 2rem;
		color: white;
	}

	.block__text {
		font-size: 1.25rem;
	}

	.block__content {
		max-width: 500px;
	}

	.block__img {
		max-width: 700px;
		width: 100%;
		transform: perspective(300px) rotateX(5deg) rotateY(-5deg);
	}

	.links {
		display: flex;
		gap: 1rem;
		flex-flow: row wrap;
		justify-content: center;
	}

	.heading__content {
		padding: 1rem;
	}

	.heading__logo {
		width: 100%;
		max-width: 400px;
		margin-bottom: 1rem;
	}

	.heading__title {
		font-weight: 900;
		font-size: 3.25rem;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
		margin-bottom: 0.5rem;
	}

	.heading__text {
		color: #999;
		font-size: 1.25rem;
	}
</style>
