---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<main>
		<div class="heading">
			<div class="heading__content">
				<img
					class="heading__logo"
					src="/logo-new-nameless.svg"
					alt="Pocket Relay Logo"
				/>
				<h1 class="heading__title">Pocket Relay</h1>
				<p class="heading__text">
					Mass Effect 3 Private Server Emulator
				</p>
			</div>
			<div class="links">
				<a href="/guide" class="button">Guide</a>

				<a
					href="https://github.com/PocketRelay"
					class="button"
					target="_blank"
					rel="noreferrer"
				>
					GitHub
				</a>
			</div>
		</div>
		<div class="block">
			<div class="block__content">
				<h2 class="block__title">What is Pocket Relay?</h2>
				<p class="block__text">
					<b>Pocket&nbsp;Relay</b> is a private server for the game
					<b>Mass&nbsp;Effect&nbsp;3</b>. This private server pretends
					to be all the different servers that the official game uses.
					This allows you to play the <b>Mass&nbsp;Effect&nbsp;3</b> Multiplayer
					privately, with your friends over LAN, or even play using a cracked
					unoffical copy of the game.
				</p>
			</div>
			<div class="block__img-wrapper">
				<img
					class="block__img"
					src="/pocketrelay.jpg"
					alt="Game players"
					loading="lazy"
				/>
			</div>
		</div>
	</main>
</Layout>

<style>
	.heading {
		display: flex;
		justify-content: center;
		flex-flow: column;
		align-items: center;
		text-align: center;
		padding: 1rem 15%;

		background: linear-gradient(rgba(12, 12, 12, 0.9), rgb(24, 24, 24)),
			url("/heading.jpg") center;
		background-size: cover;
		height: 100vh;
	}

	.block {
		justify-content: space-between;
		max-width: 1400px;
		display: flex;
		margin: 0 auto 15vh;
		gap: 1rem;
		align-items: center;
		padding: 5rem;
	}

	.block__title {
		margin-bottom: 1rem;
		font-size: 2rem;
		color: white;
	}

	.block__text {
		font-size: 1.25rem;
	}

	.block__content {
		max-width: 500px;
	}

	.block__img {
		max-width: 700px;
		width: 100%;
		transform: perspective(300px) rotateX(5deg) rotateY(-5deg);
	}

	.links {
		display: flex;
		gap: 1rem;
		flex-flow: row wrap;
		justify-content: center;
	}

	.heading__content {
		padding: 1rem;
	}

	.heading__logo {
		width: 100%;
		max-width: 400px;
		margin-bottom: 1rem;
	}

	.heading__title {
		font-weight: 900;
		font-size: 3.25rem;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
		margin-bottom: 0.5rem;
	}

	.heading__text {
		color: #999;
		font-size: 1.25rem;
	}
</style>
