/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 15% 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgba(12, 12, 12, .7), rgb(24, 24, 24)), url(/img/heading.jpg) center;
  flex: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  fill: #fff;
  width: 100%;
}

.heroTitle {
  color: #fff;
  font-size: 3rem;
}

.heroSubTitle {
  color: #fff;
  font-size: 1.5rem;
  max-width: 48rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}