---
import { Code } from "astro:components";
import Icon from "astro-icon";
const { name, code, lang } = Astro.props;
---

<div class="code">
    <div class="code__header">
        <p class="code__name">{name}</p>
    </div>
    <Code code={code} lang={lang} theme="dark-plus" />
</div>

<style>
    .code {
        /* padding: 1rem; */
        background-color: #222;
        margin: 1rem;
        border-radius: 0.5rem;
    }

    .code__header {
        padding:1rem;
    }

    .code__name {
        color: #ccc;
        font-size: 0.95rem;
    }

    .code__action {
        cursor: pointer;
        background-color: #333;
        padding: 0.5rem;
        color: #fff;
        border: none;
        border-radius: 0.25rem;
    }

    .code__action__icon  {
        fill: #fff;
        width: 1.5rem;
        height: 1.5rem;
    }


</style>