---
const PATH: string =
    "https://github.com/PocketRelay/ServerRust/releases/latest/download/";
---

<div class="content">
    <div class="type">
        <div>
            <h2 class="type__title">Standard</h2>
            <p class="type__type">SQLite</p>
            <p class="type__text">
                The <b>SQLite</b> version of <b>Pocket Relay</b> this version requires
                no additional database setup and is the ideal choice for most
            </p>
        </div>
        <div class="items">
            <div class="item">
                <p class="platform">
                    <img
                        src="/windows.svg"
                        alt="Windows"
                        class="platform__icon"
                    />
                    Windows
                </p>
                <a class="link" href={PATH + "pocket-relay-windows.exe"}>
                    Download
                </a>
            </div>
            <div class="item">
                <p class="platform">
                    <img src="/linux.svg" alt="Linux" class="platform__icon" />
                    Linux
                </p>
                <a class="link" href={PATH + "pocket-relay-linux"}> Download</a>
            </div>
        </div>
    </div>
    <div class="type">
        <div>
            <h2 class="type__title">Advanced</h2>
            <p class="type__type">MySQL</p>
            <p class="type__text">
                The <b>MySQL</b> version which requires that you have a
                <b>MySQL</b> database to use. This version expects you to have some
                understanding of <b>MySQL</b> and a server prepared to use it with
            </p>
        </div>
        <div class="items">
            <div class="item">
                <p class="platform">
                    <img
                        src="/windows.svg"
                        alt="Windows"
                        class="platform__icon"
                    />
                    Windows
                </p>
                <a class="link" href={PATH + "pocket-relay-windows-mysql.exe"}>
                    Download
                </a>
            </div>
            <div class="item">
                <p class="platform">
                    <img src="/linux.svg" alt="Linux" class="platform__icon" />
                    Linux
                </p>
                <a class="link" href={PATH + "pocket-relay-linux-mysql"}>
                    Download
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th:first-child {
        text-align: left;
    }

    .link-item,
    th:last-child {
        text-align: right;
    }

    td {
        padding: 1rem;
    }

    .item {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background-color: #222;
    }

    .platform {
    }

    .platform__icon {
        vertical-align: middle;
        margin-right: 0.5rem;
    }

    .items {
        display: flex;
        flex-flow: column;
        gap: 1rem;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        align-items: stretch;
    }

    .link {
        color: #b2a1e4;
        text-decoration: none;
        font-size: 1rem;
        padding: 0.5rem;
        color: #9f9f9f;
        background-color: #333;
        display: inline-block;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .type {
        padding: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .type__title {
        color: #fff;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
    }

    .type__text {
        font-size: 1.1rem;
        color: #a5a5a5;
    }

    .type__type {
        color: #888;
        text-transform: none;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
</style>
