---
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Home">
    <main class="guide">
        <h1 class="guide__title">Building Server Guide</h1>

        <p class="guide__text">
            This is a guide for manually building the server binary.
        </p>

        <div class="guide__block above">
            <h2 class="guide__step">Requirements</h2>
            <ul>
                <li>
                    <b>Rust & Cargo</b> Rust version 1.65.0 or greater is required
                    in order to compile the server you can install both of these
                    using Rustup which you can install using the guide
                    <a
                        class="guide__link"
                        href="https://www.rust-lang.org/learn/get-started"
                        rel="noreferrer"
                    >
                        Here
                    </a>
                </li>
                <li>
                    <p>
                        <b>Git</b> Git is required to clone the github repository
                        to your system. You can ignore this step if you manually
                        download the latest source archive from github directly <a
                            class="guide__link"
                            href="https://github.com/PocketRelay/ServerRust/archive/refs/heads/master.zip"
                            rel="noreferrer"
                        >
                            Here
                        </a>.
                    </p>
                </li>
            </ul>
            <p class="guide__text">
                If you are using the source zip directly then extract it to a
                folder and skip the "Clone Repository" step
            </p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">Crates.io</h2>
            <p class="guide__text">
                If you have Rust installed you can automatically download,
                compile, and install the server using the following command
            </p>
            <pre class="code"><code>cargo install pocket-relay</code></pre>

            <p class="guide__text">
                When a new version is released you can use this same command to
                install the latest version
            </p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">Combined Answer</h2>
            <p class="guide__text">
                If you want skip all the steps and just have a list of commands
                to paste in for the default setup you can paste the following
                commands into to your terminal.
            </p>
            <pre
                class="code"><code>git clone --depth 1 https://github.com/PocketRelay/ServerRust.git pocket-relay
cd pocket-relay
cargo build --release</code></pre>
            <p class="guide__text">
                Each line is its own command so copy them seperately
            </p>
        </div>
        <div class="guide__block">
            <h2 class="guide__step">1) Clone Repository</h2>
            <p class="guide__text">
                First you need to clone the repository from Github using the git
                clone command. If you are doing this on the source archive
                directly you can skip this step
            </p>
            <pre
                class="code"><code>git clone --depth 1 https://github.com/PocketRelay/ServerRust.git pocket-relay</code></pre>
        </div>
        <div class="guide__block">
            <h2 class="guide__step">2) Move to the directory</h2>
            <p class="guide__text">
                In order to run the next commands you will need to have the
                pocket-relay folder as your current directory. If you are in the
                terminal you can use the following command
            </p>
            <pre class="code"><code>cd pocket-relay</code></pre>
        </div>
        <div class="guide__block">
            <h2 class="guide__step">3) Compile with Cargo</h2>
            <p class="guide__text">
                If you would like to build the server with just the default
                standard features use the following command
            </p>
            <pre class="code"><code>cargo build --release</code></pre>
            <p class="guide__text">
                If you would like to build the server with MySQL instead of
                using SQLite you can use the following command
            </p>
            <pre
                class="code"><code>cargo build --release --features database-mysql --no-default-features</code></pre>
            <p class="guide__text">
                See the configuration guide for configuring the use of a MySQL
                database
            </p>
        </div>
        <div class="guide__block">
            <h2 class="guide__step">4) Finding the executable</h2>
            <p class="guide__text">
                Once building is complete you will find the executable in
                <span>target/release</span> directory. If you are compiling on Windows
                the executable will be named <span>pocket-relay.exe</span> and if
                you are on linux it will be named <span>pocket-relay</span>
            </p>
        </div>
        <div class="guide__block">
            <h2 class="guide__step">5) Done</h2>
            <p class="guide__text">
                Thats the end of the compiling guide refer back to the setup
                guide for instructions on running the executable
            </p>
        </div>
    </main>
</GuideLayout>

<style></style>
