---
import ServerDownloads from "../../../components/ServerDownloads.astro";
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Server Setup">
    <main class="guide">
        <h1 class="guide__title">Executable</h1>
        <p class="guide__text">
            This section is for if you are running the server directly from an
            executable. You can find a section for running the server within a
            Docker container at the bottom of this page
        </p>

        <div class="guide__block">
            <h2 class="guide__step">1) Download Executable</h2>
            <p class="guide__text">
                Pre compiled binary downloads are available below. But if you
                would like to compile from source manually see the

                <a class="guide__link" href="/guide/building">Building Guide</a>
            </p>

            <p class="guide__text">
                You can view the latest releases of the server on github at
                <a
                    class="guide__link"
                    href="https://github.com/PocketRelay/Server/releases/latest"
                >
                    Here
                </a> or you can use the download links below to directly download
                the latest version for your platform
            </p>

            <div class="above">
                <ServerDownloads />
            </div>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">2) Move to its own directory</h2>
            <p class="guide__text">
                Move the binary file to its own directory in order to not
                interfere with or overlap with other files and folders. All the
                Pocket Relay data files will be stored in a "data" folder
                alongside the executable.
            </p>
        </div>

        <div class="guide__block">
            <h2 class="guide__step">3) Launching</h2>
            <p class="guide__text">
                Now you can launch the server executable. The steps below show
                the different ways of doing this for the different platforms
            </p>
            <div>
                <div class="above">
                    <h4 class="platform__title">
                        <img
                            src="/windows.svg"
                            alt="Windows"
                            class="platform__title__icon"
                        />
                        Windows
                    </h4>

                    <p>
                        If you are on windows you can do this either by opening
                        the executable normally with a Double Click or Right
                        Click + Open or through the terminal using
                    </p>

                    <pre class="code"><code>./pocket-relay.exe</code></pre>
                </div>

                <div class="above">
                    <h4 class="platform__title">
                        <img
                            src="/linux.svg"
                            alt="Linux"
                            class="platform__title__icon"
                        />

                        Linux
                    </h4>

                    <p>
                        If you are on linux you will first need to make the
                        executable "executable" you can do this with the
                        following command
                    </p>

                    <pre class="code"><code>chmod +x ./pocket-relay</code></pre>

                    <p>
                        Then you can start the server with the following command
                    </p>

                    <pre class="code"><code>./pocket-relay</code></pre>

                    <p>
                        Note with the default configuration you will need to run
                        the command above using sudo on linux as it requires
                        binding port 80 for the HTTP server. If you are already
                        running an Apache HTTP server or another app is using
                        port 80 you will either need to change it in the
                        configuration file to another port such as 8080 or 3000
                        or stop the other apps.
                    </p>
                    <pre class="code"><code>sudo ./pocket-relay</code></pre>
                </div>
            </div>
        </div>

        <div id="url">
            <h2 class="guide__step">4) Connection URL</h2>
            <p class="guide__text">
                Now that your server is up and running the server will output
                the connection urls into the log. You can find this log in the
                terminal you are using to run the server or in the log file at <span
                    >data/logs/log.log</span
                > the possible connection urls will be near the top of the log. You
                should see a message like the one below
            </p>

            <pre
                class="code"><code>[2022-11-28T15:14:35.555306400+13:00 INFO pocket_relay] Connection URLS (LAN: 192.168.88.251, WAN: IP_REDACTED, LOCAL: 127.0.0.1)</code></pre>

            <p class="guide__text">
                The connections URLs are filtered by the interface and seperated
                with commas. Below is table showing which IP is which
                corresponds to which usage
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LAN</td>
                        <td
                            >If you are running this server over a Local Area
                            Network and want someone to play with you on the
                            same Network then give them this address</td
                        >
                    </tr>
                    <tr>
                        <td>WAN</td>
                        <td
                            >If you are hosting this server publicly you can
                            give this IP to others across the Internet to
                            connect to you with (Note you must port forward for
                            this to work)</td
                        >
                    </tr>
                    <tr>
                        <td>LOCAL</td>
                        <td
                            >This is the address you will use if you are
                            connecting to a server running on your current
                            machine (You can also use localhost instead)</td
                        >
                    </tr>
                </tbody>
            </table>

            <p class="guide__text">
                If you would like to make your server available over
                <b>WAN</b> you will need to Port Forward the ports listed in
                <a class="guide__link" href="/guide/server/port-forward">
                    Port Forwarding
                </a>
            </p>
        </div>

        <div>
            <h2 class="guide__step">5) Further Configuration</h2>
            <p class="guide__text">
                If you would like to further configure your server changing
                things such as the Menu Message you can check out the
                <a class="guide__link" href="/guide/config">
                    Configuration Guide
                </a>
            </p>
        </div>
    </main>
</GuideLayout>
