---
import GuideLayout from "../../../layouts/GuideLayout.astro";
---

<GuideLayout title="Server Setup">
    <main class="guide">
        <h1 class="guide__title">Server Setup Guide</h1>

        <div class="above">
            <h2>Contents</h2>
            <div class="contents">
                <a href="/guide/server/executable">Executable</a>
                <a href="/guide/server/docker">Docker</a>
                <a href="/guide/server/port-forward">Port Forwarding</a>
                <a href="/guide/server/building">Manual Building</a>
            </div>
        </div>

        <p class="guide__text">
            How would you like to run your server? If you don't have any
            knowledge with Docker or would just like to run the server in exe
            form choose <b>Executable</b>
        </p>

        <div class="actions">
            <a class="action" href="/guide/server/executable">
                <h3>Executable</h3>
                <p>Run the server as a simple executable</p>
            </a>
            <a class="action" href="/guide/server/docker">
                <h3>Docker</h3>
                <p>Run the server within a docker container</p>
            </a>
        </div>
    </main>
</GuideLayout>

<style></style>
