---
import "../styles/global.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/900.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pocket Relay" />
    <meta
      property="og:description"
      content="Mass Effect 3 private server emulator"
    />
    <meta property="og:url" content="https://pocket-relay.pages.dev/" />
    <meta property="og:image" content="/logo.svg" />
    <meta name="author" content="Jacobtread" />
    <meta name="description" content="Mass Effect 3 private server emulator" />
    <meta name="keywords" content="me3,masseffect3,privateserver" />
    <meta name="theme-color" content="#7ed380" />
    <title>{title ?? "Document"} | Pocket Relay Guide</title>
  </head>
  <body>
    <header class="header">
      <a href="/">
        <img class="header__logo" src="/logo.svg" alt="Logo" />
      </a>
      <a class="link" href="/guide">Introduction</a>
      <a class="link" href="/guide/server"> Create a server</a>
      <a class="link" href="/guide/client"> Join a server</a>
      <a class="link" href="/guide/config"> Configure</a>
    </header>
    <main class="main guide">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  .main h1 {
    margin-bottom: 1rem;
    color: #fff;
  }

  .main p {
    color: #9f9f9f;
    max-width: 800px;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .main blockquote > p {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #222222;
  }

  .main h2 {
    margin-bottom: 1rem;
    color: #fff;
  }

  .main a {
    color: #b2a1e4;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  ul > li > ol,
  ol > li > ul,
  ul > li > ul,
  ol > li > ol {
    margin-left: 1rem;
  }

  h3 > img,
  h2 > img {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  li {
    margin: 0.5rem 0;
  }

  .main hr {
    margin: 2rem 0;
    border-color: #111;
    width: 2rem;
  }

  .main img {
    max-width: 800px;
  }
</style>

<style>
  .header {
    background-color: #111;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row;
    gap: 1rem;
  }

  .header__logo {
    max-height: 32px;
    margin-bottom: 0.5rem;
  }

  .guide {
    padding: 1rem;
  }

  .group {
    margin-left: 0.5rem;
    color: #fff;
  }

  .link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.25rem;
  }
  .main {
    height: 100%;
    overflow: auto;
  }
</style>
