---
import "../styles/global.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/900.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pocket Relay" />
    <meta
      property="og:description"
      content="Mass Effect 3 private server emulator"
    />
    <meta property="og:url" content="https://pocket-relay.pages.dev/" />
    <meta property="og:image" content="/logo.svg" />
    <meta name="author" content="Jacobtread" />
    <meta name="description" content="Mass Effect 3 private server emulator" />
    <meta name="keywords" content="me3,masseffect3,privateserver" />
    <meta name="theme-color" content="#7ed380" />
    <title>{title ?? "Document"} | Pocket Relay Guide</title>
  </head>
  <body class="wrapper">
    <aside class="sidebar">
      <a href="/">
        <img class="sidebar__logo" src="/logo.svg" alt="Logo" />
      </a>
      <a class="link link--title" href="/guide">Introduction</a>
      <a class="link link--title" href="/guide/server"> Create a server</a>
      <div class="links">
        <a class="link" href="/guide/server/executable">Executable</a>
        <a class="link" href="/guide/server/docker">Docker</a>
        <a class="link" href="/guide/server/building">Manual Building</a>
      </div>
      <a class="link link--title" href="/guide/client">Join a server</a>
      <a class="link link--title" href="/guide/config">Configure</a>
      <div class="links">
        <a class="link" href="/guide/config/port">Port</a>
        <a class="link" href="/guide/config/dashboard">Dashboard</a>
        <a class="link" href="/guide/config/menu">Menu Message</a>
        <a class="link" href="/guide/config/gaw">Galaxy At War</a>
        <a class="link" href="/guide/config/logging">Logging</a>
        <a class="link" href="/guide/config/retriever">Retriever</a>
      </div>
    </aside>
    <main class="main guide">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  .main h1 {
    margin-bottom: 1rem;
    color: #fff;
  }

  .main p {
    color: #9f9f9f;
    max-width: 800px;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .main blockquote > p {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #222222;
  }

  .main h2 {
    margin-bottom: 1rem;
    color: #fff;
  }

  .main a {
    color: #b2a1e4;
  }

  ul,
  ol {
    list-style-position: inside;
  }

  ul > li > ol,
  ol > li > ul,
  ul > li > ul,
  ol > li > ol {
    margin-left: 1rem;
  }

  h3 > img,
  h2 > img {
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  li {
    margin: 0.5rem 0;
  }

  .main hr {
    margin: 2rem 0;
    border-color: #111;
    width: 2rem;
  }

  .main img {
    max-width: 800px;
  }
</style>

<style>
  .wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
  }

  .links {
    display: block;
    margin-left: 0.5rem;
  }

  .sidebar {
    background-color: #111;
    padding: 1rem 2rem;
    height: 100&;
  }

  .sidebar__logo {
    display: block;
    max-height: 50px;
    margin: 1rem auto;
  }

  .guide {
    flex: auto;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
  }

  .link {
    display: block;

    text-decoration: none;
    color: #cccccccc;

    padding: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .link--title {
    color: #fff;
    font-weight: bold;
  }

  .main {
    height: 100%;
    overflow: auto;
  }
</style>
